*.icloud
*.DS_Store
*.idea
*.vs
*.ipynb_checkpoints
*__pycache__
*runs
*_backup.ipynb
*.env
*.venv
*env
*venv
out/*/cleaner.py
out/cleaner.py
src/*/cleaner.py
src/cleaner.py
run_script.bat
clean.bat
links.log
autolinks.bat
autolinks.sh
cat_and_dog2.png
cat_and_dog1.png
