.idea
*.vs
.ipynb_checkpoints
*__pycache__
*runs
*_backup.ipynb
*.DS_Store
src/*.ipynb
out/*/.ipynb_checkpoints
src/*/.ipynb_checkpoints
sample_data
*.env
*.venv
*env
*venv
out/*/cleaner.py
src/*/cleaner.py